// Input parameters
params.input 				= null
params.reference_fasta 		= "s3://sage-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
params.reference_fasta_fai 	= "${params.reference_fasta}.fai"
params.vep_tarball 			= "s3://sage-igenomes/vep_cache/homo_sapiens_vep_112_GRCh38.tar.gz"

// vcf2maf parameters
params.maf_center 			= "Sage Bionetworks"
params.max_subpop_af 		= 0.0005
params.ncbi_build 			= "GRCh38"
params.species 				= "homo_sapiens"

// Profiles
profiles {

    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

}
